body{
    background-color: antiquewhite;
}

p{
    color: red;
    font-size: 24px;
    background-color: aquamarine;
}

#second{
 text-align: center;
 color: aliceblue;
 background-color: powderblue;
 font-size: 45px;
 border: 1.5px red solid;
 border-radius: 1cap;
}

.third{
    color: violet;
    background-color: azure;
    text-align: end;
    font-size: medium;
}
*{
    border: 1.5px rgb(0, 200, 255) solid ;
    border-radius: 4cap;    
}
#fourth{
    color: blue;
    background-color: violet;
    border: 3px red solid;
    text-align: center;
    text-decoration: line-through;
    text-shadow: 4px;
    border-radius: 1cap;
    padding-left: 12px;
    margin-top: 100px;
    border-bottom: 2px;
    
}
h1,h2,h3{
    color: brown;
    text-align: end;
    background-color: antiquewhite;
    font-size: larger;
}
#a,#b,#c,#d{
 color: black;
 background-color: azure;
 font-size: small;
 text-align: center;
}
